In [1]:
import pandas as pd
import numpy as np
import re

In [3]:
df = pd.read_csv('./southkoreatrip_insta_crawling.csv', encoding='utf-8')

In [4]:
df['content']

0       â˜… : - (  Spicy Chicken )Think that is precious...
1       +----------------------------------------Copyr...
2       Yes, we went to #anmokbeach in #gangneung for ...
3       â€œTo my mind, the greatest reward and luxury of...
4       ???TS????...#southkorea #southkoreatrip #south...
                              ...
3492    ì‚¬ì§„ìœ¼ë¡œ ë§í•˜ë‹¤.....#ì—¬í–‰ì¼ìƒ #ì‚¬ì§„ìŸì´ #ê²¨ìš¸í’ê²½ #ì¶œì‚¬ì§€ #ì¹´ë©”ë¼ìŠ¤íƒ€ê·¸ë¨ #...
3493    Shooting images in the dark are super toughğŸ˜…ğŸ˜…b...
3494    I envy them! They are having the best time of ...
3495                                      ì¬í¬ê³µì£¼ê°€ ì‚°ë‹¤ëŠ” ê²½ë³µê¶ì¸ê°€
3496    Halo Travel BuddyğŸ‘‹Bagi kalian pecinta drama ko...
Name: content, Length: 3497, dtype: object

In [4]:
# ì •ê·œí‘œí˜„ì‹ ì‚¬ìš© # ì œì™¸í•œ íŠ¹ìˆ˜ë¬¸ì ì œê±°
df['content']= df['content'].str.replace(pat=r'[^A-Za-z0-9ê°€-í£#]',repl=r' ',regex=True)
df['content']

0       I put a lot less pressure on myself this time ...
1                                               ìš´ì¹˜ ìˆì—ˆë˜ ì°»ì§‘
2                    #southkorea #êµ¬ë¡€ì—¬í–‰ #nature #southk...
3       Today felt like summer    but I m so ready for...
4       I made a valiant effort  but alas I only made ...
                              ...
5266    2016                     2016  Sokcho  South K...
5267         by  ginabearsblog Happy New Year everyone...
5268    Happy New Year to all my friends around the wo...
5269     What are your resolutions for 2021       Emai...
5270    What were some of your resolutions this year  ...
Name: content, Length: 5271, dtype: object

In [5]:
# ì¤‘ë³µì œê±°
df.drop_duplicates(subset=['content'] , inplace=True)
df = df.reset_index(drop=True)
df

,content,date,like,place,tags
0,â˜… : - ( Spicy Chicken )Think that is precious...,2022-07-13,44,New York-USA,"['#koreanfoodlover', '#kfoods', '#koreanbbq', ..."
1,+----------------------------------------Copyr...,2022-07-13,0,ëŠ¥ë‚´ì—­-íì—­,"['#a7r3', '#ëŒ€í•œë¯¼êµ­êµ¬ì„êµ¬ì„', '#ê¸°ì°¨ì—­------------------..."
2,"Yes, we went to #anmokbeach in #gangneung for ...",2022-07-13,57,"Anmok Beach, Gangneung","['#anmokbeach', '#gangneung', '#behindmyhat', ..."
3,"â€œTo my mind, the greatest reward and luxury of...",2022-07-13,9,NaN,"['#familytravel', '#southkoreatrip', '#iphonep..."
4,???TS????...#southkorea #southkoreatrip #south...,2022-07-13,0,NaN,"['#southkorea', '#southkoreatrip', '#southkore..."
...,...,...,...,...,...
3028,Namsan Tower Visit ğŸ˜ğŸš With babe @jade_jun_sungj...,2022-04-07,22,Namsan Tower Seoul,"['#namsan', '#namsantower', '#seoulview', '#vi..."
3029,Shooting images in the dark are super toughğŸ˜…ğŸ˜…b...,2022-04-07,68,ë¶€ì‚°,"['#photography', '#photooftheday', '#photograp..."
3030,I envy them! They are having the best time of ...,2022-04-07,19,NaN,"['#ì—¬í–‰', '#ê°•ë¦‰', '#ë°”ë‹¤', '#ë¬¼ë©', '#íë§', '#ê¸°ì°¨ì—¬í–‰', '..."
3031,ì¬í¬ê³µì£¼ê°€ ì‚°ë‹¤ëŠ” ê²½ë³µê¶ì¸ê°€,2022-04-07,0,ê²½ë³µê¶ - Gyeongbokgung Palace,[]
3032,Halo Travel BuddyğŸ‘‹Bagi kalian pecinta drama ko...,2022-04-07,10,NaN,"['#matatravel', '#matatraveldomestik', '#trave..."

In [6]:
# ëŒ€ìƒì—¬ë¶€ ì»¬ëŸ¼ ì¶”ê°€
df['ëŒ€ìƒì—¬ë¶€'] = 'Y'
df

,content,date,like,place,tags,ëŒ€ìƒì—¬ë¶€
0,I put a lot less pressure on myself this time ...,2022-09-07,0,KIAF êµ­ì œì•„íŠ¸í˜ì–´,"['#artweek', '#ì „ì‹œ', '#seoul', '#contemporaryar...",Y
1,ìš´ì¹˜ ìˆì—ˆë˜ ì°»ì§‘,2022-09-07,24,NaN,[],Y
2,#southkorea #êµ¬ë¡€ì—¬í–‰ #nature #southk...,2022-09-07,56,ì „ë¼ë‚¨ë„ êµ¬ë¡€,"['#southkorea', '#êµ¬ë¡€ì—¬í–‰', '#nature', '#southkor...",Y
3,Today felt like summer but I m so ready for...,2022-09-07,66,ì „ë¼ë‚¨ë„ êµ¬ë¡€,"['#êµ¬ë¡€ì—¬í–‰', '#southkorea', '#wanderlust', '#trav...",Y
4,I made a valiant effort but alas I only made ...,2022-09-07,33,KIAF êµ­ì œì•„íŠ¸í˜ì–´,"['#coex.', '#frieze', '#kiaf', '#artweek', '#ì „...",Y
...,...,...,...,...,...,...
4883,2016 2016 Sokcho South K...,2021-01-01,41,ê°•ì›ë„ ì†ì´ˆ,"['#Ğ¸Ğ·Ğ°Ñ€Ñ…Ğ¸Ğ²Ğ°', '#ÑĞ¾ĞºÑ‡Ñ…Ğ¾', '#ÑĞ¾ĞºÑ‡Ğ¾', '#ĞºĞ°Ğ½Ğ²Ğ¾Ğ½Ğ´Ğ¾'...",Y
4884,by ginabearsblog Happy New Year everyone...,2021-01-01,222,"ì„œìš¸ìŠ¤ì¹´ì´ Seoul Sky, Lotte World Tower, Korea","['#seoul', '#songpa.??', '#korea_attractions',...",Y
4885,Happy New Year to all my friends around the wo...,2021-01-01,244,NaN,[],Y
4886,What are your resolutions for 2021 Emai...,2021-01-01,47,NaN,"['#christmas', '#merrychristmas', '#holiday', ...",Y
4887,What were some of your resolutions this year ...,2021-01-01,41,ë³´ìŠ¤í„´,"['#wishformula', '#kbeauty', '#homespa', '#ise...",Y

In [7]:
# í•œê¸€ì´ í¬í•¨ë˜ì–´ ìˆìœ¼ë©´ 'N'
korean = re.compile(r'[ã„±-ã…£ê°€-í£]')
for i in range(len(df['content'])):
    if korean.match(df['content'][i]):
        df['ëŒ€ìƒì—¬ë¶€'][i] = 'N'

In [8]:
df['ëŒ€ìƒì—¬ë¶€'].value_counts()

Y    4601
N     287
Name: ëŒ€ìƒì—¬ë¶€, dtype: int64

In [9]:
df.to_csv('./data/koreagram_2021_2022_clean.csv', index=False, encoding='utf-8-sig')